@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,500;1,600&family=Orbitron:wght@400;500;600;700;800;900&family=Press+Start+2P&family=Roboto+Slab:wght@100;300;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*

font-family: 'Kanit', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;

*/

:root {
    --light-blue: rgba(25, 146, 212, 1);
    --background-grey: rgba(226,232,240,1);
    --transition-time: 200ms;
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--light-blue);
}

.ttt-text {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
    padding: 2vh 3vh;
    pointer-events: none;
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
}

.ttt-text.animate {
    opacity: 1;
}


.ttt-text span  {
    font-family: 'Orbitron', sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
    opacity: 0.4;
}

.ttt-text span:not(:nth-child(1)):before {
    content: '-';
}

.ttt-text.animate span:nth-child(1){
    animation-name: bubble;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}


.ttt-text.animate span:nth-child(2){
    animation-name: bubble;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
}


.ttt-text.animate span:nth-child(3){
    animation-name: bubble;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3000ms;
}



* button,
.clickable {
    cursor: pointer;
}
.toggle-1 {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 5%;
}
.menu {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    transition: opacity 2000ms ease-in-out;
}

.menu .text {
    position: absolute;
    font-weight: 300;
    left: 34%;
    top: 10%;
    font-size: 2rem;
    font-weight: 200;
    background-color: whitesmoke    ;
    padding: 2vh 2vw;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 5px;

}

.menu .right-side,
.menu .left-side {
    display: inherit;
    flex-direction: column;
    gap: 15vh;
}

.menu button:not(.start-btn) {
    width: 10vw;
    height: 10vh;
    min-height: fit-content;
    min-width: min-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    transition: all 200ms ease-in-out;
}

.menu button:not(.start-btn):hover {
    transform: scale(1.2);
}

.menu button:not(.start-btn):active {
    transform: scale(0.95);
}

.menu button:not(.start-btn).checked {
    background-color: orange;
}

.menu .start-btn {
    width: 15vw;
    height: 15vh;
    border: 2px solid black;
    border-radius: 15%;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px,
     rgb(252, 252, 252) 0px 0px 0px 4px,
      rgb(0, 0, 0) 0px 0px 0px 6px;
    animation: hoverAnimation 1s infinite;

}

.menu .start-btn:active {
    transform: scale(0.95);
    animation: none;
}

.menu .start-btn.checked {
    animation: none;
}

.menu .start-btn:disabled {
    background-color:rgb(60, 59, 59);
    animation: none;
    box-shadow: none;
    cursor: not-allowed;
    border: 2px solid black;
}

footer {
    position: absolute;
    bottom: 0%;
    right: 45%;
    font-size: 16px;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer img {
    margin-left: 0.2vw;
    margin-top: 1vh;
    width: 1.5vw;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}

footer img:hover {
    transform: scale(1.2);
    border: 1px solid rgba(0,0,0,0.6);
}

.active {
    opacity: 1;
    pointer-events: all;
}

.inactive {
    opacity: 0;
    pointer-events: none;
}

.icon-wrapper {
    transition: all 1000ms ease-in-out;
}

.icon-wrapper .text {
    position: absolute;
    right: 46%;
    top: 35%;
    font-size: 6rem;
    font-weight: 400;
    background-color: rgba(114, 113, 113, 0.656);
    border: 1px solid black;
    border-radius: 20%;
    color: rgba(0,0,0,0.8);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icon{
    width: 50vw;
    height: 50vh;
    transition: all 2000ms ease-in-out;
}

.icon.active {
    transform: translateX(0);
}

.left {
    position: absolute;
    left: 0%;
    bottom: 25%;
    transform: translateX(-40vw);
}

.right {
    position: absolute;
    right: 0%;
    bottom: 25%;
    transform: translateX(+40vw);
}


.game {

    transition: all 2000ms ease-in-out;
    
}

.display {
    position:absolute;
    width: 50%;
    height: 15%;
    top: 5%;
    left: 25%;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.board {
    display: grid;
    aspect-ratio: 1/1;
    width: 30%;
    height: auto;
    position: absolute;
    left: 35%;
    top: 25%;
    gap: 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    padding: 0.5%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: all 800ms ease-in-out;
}

.cell {
    cursor: pointer;
    border-radius: 5%;
    background-color: orange;
    transition: background-image 500ms ease-in-out;
    animation: cellAnimation 400ms;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}



.cell:hover {
    transform: scale(1.03)
}
.cell:active {
    transform: scale(0.98)
}

.cell.player.red {
    background-image: url('./images/et_red.svg');
}
.cell.player.green {
    background-image: url('./images/et_green.svg');
}
.cell.robot.red {
    background-image: url('./images/robot_red.svg');
}
.cell.robot.green {
    background-image: url('./images/robot_green.svg');
}






@keyframes bubble {


    0% {transform: scale(1); opacity:0.4;}
    25% {transform: scale(1.2)}
    50% {opacity:1;}
    100% {transform: scale(1);opacity:1}

}

@keyframes fade-in {
    0% {
    }
    100% {
        opacity: 1;
    }
}

@keyframes cellAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}



@keyframes fade-out {
    0% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes hoverAnimation {
    0% {
        transform: scale(1);
        box-shadow: rgb(255, 254, 254) 0px 0px 0px 2px,
     rgb(0, 0, 0) 0px 0px 0px 4px,
      rgb(255, 253, 253) 0px 0px 0px 6px;
    }
    50% {
        transform: scale(1.1);
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px,
     rgb(252, 252, 252) 0px 0px 0px 4px,
      rgb(0, 0, 0) 0px 0px 0px 6px;
    }
    100% {
        transform: scale(1);
        box-shadow: rgb(255, 254, 254) 0px 0px 0px 2px,
     rgb(0, 0, 0) 0px 0px 0px 4px,
      rgb(255, 253, 253) 0px 0px 0px 6px;
    }
}
